
.container {
  justify-content: center;
  align-items: center;
}
.pass-text{
  font-size: 60px;
  margin-bottom: 120px;
  font-weight: 700;
  color: #0E5B2D;
}

.pass-container{
  background-image: url("/assets/bgc.png");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.level-text-btn {
  font-size: 40px;
  color: #49c889;
  font-weight: 700;
}

.level-box {
  width: 281px;
  height: 89px;
  margin-bottom: 10px;
  background-image: url("/assets/start-game.png");
}

.vertical-center{
  justify-content: center;
  align-items: center;
}
.game-content {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  background-size: cover;
  background-image: url("/assets/bgc.png");
}

.main-content {
  flex: 1;
  width: 320px;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.wrap-div {
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.level-text {
  color: #006B44;
  font-size: 20px;
  height: 80px;
  font-weight: 700;
}

.operate {
  width: 65px;
  height: 60px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: black;
  background-image: url("/assets/caculate.png");
}

.opera-text {
  font-size: 40px;
  font-weight: 700;
  color: #3A3F0C;
}
.middle-box {
  margin: -15px 0 -10px 0;
}

.center-number {
  width: 84px;
  height: 84px;
  background-image: url("/assets/circle.png");
  justify-content: center;
  align-items: center;
}
.center-number-text{
  width: 50px;
  height: 40px;
  text-align: center;
  margin-top: -5px;
  font-weight: 600;
  color: #ACFFB3;
  font-size: 30px;
}
.number-box {
  width: 118px;
  height: 118px;
  background-image: url("/assets/number.png");
  position: relative;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 50px;
  font-weight: 700;
  color: #27ca89;
}

.footer-restart {
   width: 86px;
   height: 68px;
   justify-content: center;
   align-items: center;
   background-image: url("/assets/elliptic.png");
}

.footer-rotate{
  width: 40px;
  height: 40px;
}

.hide-number {
  visibility: hidden;
}

.border-click {
  background-image: url("/assets/number-white.png");
}

.clicksign {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 4;
  background-color: rgba(15, 94, 149, 0.5);
  border-radius: 25px;
}

.actionClickSign {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 4;
  background-color: rgba(15, 94, 149, 0.5);
  border-radius: 25px;
}

.cacuclicksign {
  width: 20px;
  height: 20px;
}