/* layer: default */
.px{padding-left:4px;padding-right:4px;}
.px-30{padding-left:30px;padding-right:30px;}
.px-32{padding-left:32px;padding-right:32px;}
.px-80{padding-left:80px;padding-right:80px;}
.pb-40{padding-bottom:40px;}
.pt-30{padding-top:30px;}
.mb-20{margin-bottom:20px;}
.mb-40{margin-bottom:40px;}
.ml-150{margin-left:150px;}
.ml-20{margin-left:20px;}
.ml-232{margin-left:232px;}
.ml-264{margin-left:264px;}
.ms{margin-inline-start:4px;}
.mt-10{margin-top:10px;}
.mt-16{margin-top:16px;}
.mt-20{margin-top:20px;}
.mt-29{margin-top:29px;}
.mt-30{margin-top:30px;}
.mt-97{margin-top:97px;}
.bg-black{background-color:rgba(0,0,0,1);}
.bg-customBlue{background-color:rgba(4,135,255,1);}
.bg-toastGray{background-color:rgba(52,52,55,1);}
.bg-velaGrey{background-color:rgba(231,231,231,1);}
.bg-velaGreya{background-color:rgba(53,53,54,1);}
.bg-white{background-color:rgba(255,255,255,1);}
.rounded-20{border-radius:20px;}
.rounded-30{border-radius:30px;}
.fs-20,
.text-20{font-size:20px;}
.text-24{font-size:24px;}
.text-26{font-size:26px;}
.text-27{font-size:27px;}
.fs-30,
.text-30{font-size:30px;}
.text-32{font-size:32px;}
.text-36{font-size:36px;}
.fw-500{font-weight:500;}
.fw-600{font-weight:600;}
.lh-30{line-height:30px;}
.lh-32{line-height:32px;}
.lh-35{line-height:35px;}
.lh-40{line-height:40px;}
.lh-42{line-height:42px;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.color-black{color:rgba(0,0,0,1);}
.color-customGray{color:rgba(255,255,255,.5);}
.color-velaBlue{color:rgba(13,132,255,1);}
.color-velaWhite{color:rgba(255,255,255,.4);}
.color-velaWhitea{color:rgba(255,255,255,.6);}
.color-white{color:rgba(255,255,255,1);}
.flex{display:flex;}
.flex-row{flex-direction:row;}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.absolute{position:absolute;}
.relative{position:relative;}
.fs-42{font-size:42px;}
.fs-80{font-size:80px;}
.h-100{height:100px;}
.h-114{height:114px;}
.h-140{height:140px;}
.h-162{height:162px;}
.h-260{height:260px;}
.h-300{height:300px;}
.h-32{height:32px;}
.h-320{height:320px;}
.h-388{height:388px;}
.h-40{height:40px;}
.h-400{height:400px;}
.h-42{height:42px;}
.h-480{height:480px;}
.h-56{height:56px;}
.h-60{height:60px;}
.h-80{height:80px;}
.h-90{height:90px;}
.h-full{height:100%;}
.w-114{width:114px;}
.w-140{width:140px;}
.w-160{width:160px;}
.w-172{width:172px;}
.w-229{width:229px;}
.w-245{width:245px;}
.w-260{width:260px;}
.w-286{width:286px;}
.w-300{width:300px;}
.w-346{width:346px;}
.w-42{width:42px;}
.w-60{width:60px;}
.w-630{width:630px;}
.w-720{width:720px;}
.w-80{width:80px;}
.w-800{width:800px;}
.w-90{width:90px;}
.w-full{width:100%;}
.overflow-hidden{overflow:hidden;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.items-center{align-items:center;}
.bottom-42{bottom:42px;}
.left-120{left:120px;}
.left-228{left:228px;}
.left-30{left:30px;}
.left-60{left:60px;}
.left-656{left:656px;}
.left-85{left:85px;}
.top-120{top:120px;}
.top-19{top:19px;}
.top-268{top:268px;}
.top-300{top:300px;}
.top-336{top:336px;}
.top-80{top:80px;}
.transform{transform:translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z));}