.contanier-wrapper{
  background-color: #000;
  justify-content: center;
  align-items: center;
}
.container {
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/bgc.png");
  justify-content: center;
  background-size: cover;
}
.level-box {
  width: 281px;
  height: 89px;
  margin-bottom: 10px;
  background-image: url("/assets/start-game.png");
}
.level-text {
  font-size: 40px;
  color: #49c889;
  font-weight: 700;
}
.vertical-center {
  justify-content: center;
  align-items: center;
}